{% extends 'crm/base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}

<div class="main_container">
  <div class="row marl heading_create">
    <div class="heading col-md-12">
      <div class="col-md-12">
        <h1 align="center">Organizations</h1>
        <p>
          <div class="create_new text-right">
            <a href="{% url 'organizations:add_organization' %}"><i class="fa fa-plus"></i> Add New Organization</a>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-heading-list text-center">
            Customize Searching
          </div>
        </div>
        <form id="organizations_filter" action="" method="POST">{%csrf_token%}
          <div class="panel-content text-center">
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Organization Name</label>
                <input type="text" class="form-control" placeholder="Name" name="name" value="{{request.POST.Name}}">
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" placeholder="City" name="city" value="{{request.POST.city}}">
              </div>
            </div>
            <div style = "clear:both">
              <br>
              <h6>Organization Informaiton</h6>
            </div>
            <div style = "clear:both" class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email" value="{{request.POST.email}}">
              </div>
            </div>
            <div  class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="text" class="form-control" placeholder="Phone" name="phone" value="{{request.POST.phone}}">
              </div>
            </div>

            <div  style = "clear:both" class="filter_col text-center">
              <div class="form-group">
                <br>
                <button class="btn btn-primary" type="submit">Search</button>
               <a href="{% url 'organizations:list' %}" class="btn btn-default">Clear</a>
              </div>
            </div>
          </div>
        </form>
        <br clear="all">
      </div>
    </div>
  </div>
  <!-- filter_row ends here -->
  <!-- leads list start-->
  <div class="table_container_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading-list text-center">
          LIST OF ORGANIZATIONS
          <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Organizations {{ org_obj|length }}{% endif %}</span>
        </div>
        <div class="panel-content">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="15%" style="text-align:center;">S.No</th>
                <th width="25%" style="text-align:center;">ORGANIZATION NAME</th>
                <!-- <th width="20%" style="text-align:center;">ASSIGNED USER</th> -->
                <th width="15%" style="text-align:center;">CREATED ON</th>
                <th width="30%" style="text-align:center;">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page org_obj %}
              {% else %}
                {% paginate 10 org_obj %}
              {% endif %}
              {% for org in org_obj %}
              <tr class="text-center">
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="{% url 'organizations:view_organization' org.id %}" > {{ org.name }}</a></td>
                <td>{{ org.created_on }}</td>
                <td>
                  <a href="{% url 'organizations:view_organization' org.id %}" class="btn btn-info ">View</a>
                  <a href="{% url 'organizations:edit_organization' org.id %}" class="btn btn-success ">Edit</a>
                  <a href="{% url 'organizations:remove_organization' org.id %}" class="btn btn-danger delete">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {%ifequal org_obj|length 0%}
            <h4 class="text-center">No Organizations Records Found</h4>
          {%endifequal%}
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- leads list end-->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.delete').click(function(e){
   e.preventDefault()
   url = $(this).attr('href')
   if (!confirm('Are you sure you want to delete?'))
    return;
   window.location = $(this).attr('href')
});


  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#organizations_filter').attr("action", $(this).attr("href"));
    $('#organizations_filter').submit();
  });
</script>
{% endblock js_block %}
