{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}

<div class="main_container">
  <!-- heading_create starts here -->
  <div class="row marl heading_create">
    <div class="heading col-md-12">
      <div class="col-md-12">
        <h1 align="center">Activities</h1>
        <p>
        <div class="create_new text-right">
          <a href="{% url 'activity:add_activity' %}"><i class="fa fa-plus"></i> Add New Activity</a>
        </div></p>
     </div>
    </div>
  </div>

  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-heading-list text-center">
            Customize Searching
          </div>
        </div>
        <form id="activity_filter" action="" method="POST">{%csrf_token%}
          <div class="panel-content text-center">
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="id_name" name="name" {% if request.POST %} value="{{request.POST.name}}" {% endif %}>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Activity Status</label>
                <select class="form-control" id="id_status" name="status" >
                  <option value="">--Status of Activity--</option>
                  <option value="in process">In Process</option>
                  <option value="converted">Converted</option>
                  <option value="recycled">Recycled</option>
                  <option value="assigned">Assigned</option>
                  <option value="dead">Dead</option>
                </select>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Activity Type</label>
                <select class="form-control" id="id_activity_type" name="activity_type" >
                  <option value="">--Types of Activity--</option>
                  <option value="email">Email</option>
                  <option value="phone call">Phone Call</option>
                  <option value="meeting">Meeting</option>
                </select>
              </div>
            </div>
            <div style = "clear:both" class="filter_col text-center">
              <br>
              <h6>Schedule Information</h6>
            </div>
            <div style = "clear:both" class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text" class="form-control" placeholder="Start Date" name="startdate" value="{{request.POST.startdate}}">
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">End Date</label>
                <input type="text" class="form-control" placeholder="End Date" name="enddate" value="{{request.POST.enddate}}">
              </div>
            </div>

            <div style = "clear:both" class="filter_col text-center">
              <div class="form-group">
                <br>
                <button class="btn btn-primary" type="submit">Search</button>
                <a href="{% url 'activity:list' %}" class="btn btn-default">Clear</a>
              </div>
            </div>
          </div>
        </form>
        <br clear="all">
      </div>
    </div>
  </div>
  <!-- filter_row ends here -->
  <!-- leads list start-->
  <div class="table_container_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading-list text-center">
          LIST OF ACTIVITIES
          <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Activities {{ activity_obj|length }}{% endif %}</span>
        </div>
        <div class="panel-content">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="5%" style="text-align:center;">S.No</th>
                <th width="15%" style="text-align:center;">NAME</th>
                <th width="10%" style="text-align:center;">STATUS</th>
                <!-- <th width="20%" style="text-align:center;">ASSIGNED USER</th> -->
                <th width="15%" style="text-align:center;">CREATED BY</th>
                <th width="10%" style="text-align:center;">START DATE</th>
                <th width="10%" style="text-align:center;">END DATE</th>
                <th width="20%" style="text-align:center;">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page activity_obj %}
              {% else %}
                {% paginate 10 activity_obj %}
              {% endif %}
              {% for activity in activity_obj %}
              <tr class="text-center">
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.status }}</td>
                <td>{{ activity.created_by }}</td>
                <td>{{ activity.startdate }}</td>
                <td>{{ activity.enddate }}</td>
                <td>
                  <a class="btn btn-info">View</a>
                  <a class="btn btn-success">Edit</a>
                  <a class="btn btn-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {%ifequal activity_obj|length 0%}
            <h4 class="text-center">No Activity Records Found</h4>
          {%endifequal%}
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- leads list end-->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#activity_filter').attr("action", $(this).attr("href"));
    $('#activity_filter').submit();
  });
</script>
{% endblock js_block %}
