{% extends 'crm/base.html' %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% load staticfiles %}
{% load paginate %}


{% block content %}
<div class="container-fluid">
  <div class="col-sm-4">
      {{ activity_type_chart|safe }}
  </div>
  <div class="col-sm-4">
      {{ status_chart|safe }}
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="table_container_row">
        <div class="panel panel-default">
          <div class="panel-heading-list text-center">
            MY CONTACTS
            <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Contacts {{contacts|length}}{% endif %}</span>
          </div>
          <div class="panel-content">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th width="5%" style="text-align:center;"></th>
                  <th width="15%" style="text-align:center;">NAME</th>
                  <th width="20%" style="text-align:center;">PHONE</th>
                  <th width="25%" style="text-align:center;">EMAIL</th>
                  <th width="15%" style="text-align:center;">ORGANIZATION</th>
                  <th width="15%" style="text-align:center;">ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                {% if per_page %}
                  {% paginate per_page contacts %}
                {% else%}
                  {% paginate 10 contacts %}
                {% endif %}
                {% for contact in contacts %}
                <tr style="text-align:center;">
                  <td scope="row">{{ forloop.counter }}</td>
                  <td><a href="{% url 'contacts:view_contact' contact.id %}">{{contact}}</a></td>
                  <td>
                    {% if contact.phone %}
                      {% if contact.phone|length == 10 %}
                        ({{contact.phone.0}}{{contact.phone.1}}{{contact.phone.2}})
                        {{contact.phone.3}}{{contact.phone.4}}{{contact.phone.5}}-{{contact.phone.6}}{{contact.phone.7}}{{contact.phone.8}}{{contact.phone.9}}
                      {% else %}
                        {{contact.phone}}
                      {% endif %}
                    {% else %}
                      Not Specified
                    {% endif %}
                  </td>
                  <td>
                    {% if contact.email %}
                      {{contact.email}}
                    {% else %}
                      Not Specified
                    {% endif %}
                  </td>
                  <td>
                    {% if contact.organization %}
                    <a href="{% url 'organizations:view_organization' contact.organization.id %}">
                      {{contact.organization}}
                    {% else %}
                      Not Specified
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'contacts:view_contact' contact.id %}" class="btn btn-info">View</a>
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
            {%ifequal contacts|length 0 %}
              <h4 class="text-center">No Contact Records Found</h4>
            {%endifequal%}
            <div class="marl row text-center">
              {% show_pages %}
            </div>
          </div>
        </div>
      </div>
      <br clear="all">
    </div>

    <div class="col-sm-6">
      <div class="table_container_row marl ">
        <div class="panel panel-default">
          <div class="panel-heading-list text-center">
            MY ORGANIZATIONS
            <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total Organizations {{ organizations|length }}{% endif %}</span>
          </div>
          <div class="panel-content">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th width="5%" style="text-align:center;"></th>
                  <th width="20%" style="text-align:center;">ORGANIZATION NAME</th>
                  <!-- <th width="20%" style="text-align:center;">ASSIGNED USER</th> -->
                  <th width="25%" style="text-align:center;">PHONE</th>
                  <th width="30%" style="text-align:center;">EMAIL</th>
                  <th width="15%" style="text-align:center;">ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                {% if per_page %}
                  {% paginate per_page organizations %}
                {% else %}
                  {% paginate 10 organizations %}
                {% endif %}
                {% for org in organizations %}
                <tr class="text-center">
                  <td scope="row">{{ forloop.counter }}</td>
                  <td><a href="{% url 'organizations:view_organization' org.id %}" > {{ org.name }}</a></td>
                  <td>
                    {% if org.phone %}
                      {% if org.phone|length == 10 %}
                        ({{org.phone.0}}{{org.phone.1}}{{org.phone.2}})
                        {{org.phone.3}}{{org.phone.4}}{{org.phone.5}}-{{org.phone.6}}{{org.phone.7}}{{org.phone.8}}{{org.phone.9}}
                      {% else %}
                        {{org.phone}}
                      {% endif %}
                    {% else %}
                      Not Specified
                    {% endif %}
                  </td>
                  <td>
                    {% if org.email %}
                      {{org.email}}
                    {% else %}
                      Not Specified
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'organizations:view_organization' org.id %}" class="btn btn-info ">View</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {%ifequal organizations|length 0%}
              <h4 class="text-center">No Organizations Records Found</h4>
            {%endifequal%}
            <div class="marl row text-center">
              {% show_pages %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% for team_to_contacts in teams_to_contacts %}
  <div class="col-sm-6">
    <div class="table_container_row row marl">
      <div class="panel panel-default">
        <div class="panel-heading-list text-center">
          TEAM {{ team_to_contacts.0 }}
          <span class="pull-right total_count">Total Contacts {{team_to_contacts.1|length}}</span>
        </div>
        <div class="panel-content">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="5%" style="text-align:center;"></th>
                <th width="15%" style="text-align:center;">NAME</th>
                <th width="20%" style="text-align:center;">PHONE</th>
                <th width="25%" style="text-align:center;">EMAIL</th>
                <th width="15%" style="text-align:center;">ORGANIZATION</th>
                <th width="15%" style="text-align:center;">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in team_to_contacts.1 %}
              <tr style="text-align:center;">
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="{% url 'contacts:view_contact' contact.id %}">{{contact}}</a></td>
                <td>
                  {% if contact.phone %}
                    {% if contact.phone|length == 10 %}
                      ({{contact.phone.0}}{{contact.phone.1}}{{contact.phone.2}})
                      {{contact.phone.3}}{{contact.phone.4}}{{contact.phone.5}}-{{contact.phone.6}}{{contact.phone.7}}{{contact.phone.8}}{{contact.phone.9}}
                    {% else %}
                      {{contact.phone}}
                    {% endif %}
                  {% else %}
                    Not Specified
                  {% endif %}
                </td>
                <td>
                  {% if contact.email %}
                    {{contact.email}}
                  {% else %}
                    Not Specified
                  {% endif %}
                </td>
                <td>
                  {% if contact.organization %}
                  <a href="{% url 'organizations:view_organization' contact.organization.id %}">
                    {{contact.organization}}
                  {% else %}
                    Not Specified
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'contacts:view_contact' contact.id %}" class="btn btn-info">View</a>
                </td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
    <br clear="all">
  </div>
{% endfor %}
</div>

{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.delete').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#contacts_filter').attr("action", $(this).attr("href"));
    $('#contacts_filter').submit();
  });
</script>
{% endblock js_block %}
