{% extends 'crm/base.html' %}

{% block head %}
{{block.super}}
{% endblock %}


{% load staticfiles %}
{% load paginate %}


{% block content %}
<div class="main_container">
  <div class="row marl heading_create">
    <div class="heading col-md-12">
      <div class="col-md-12">
        <h1 align="center">NEWS FEED</h1>
      </div>
    </div>
  </div>
  <div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-heading-list text-center">
            Customize Searching
          </div>
        </div>
        <form id="activity_filter" action="" method="POST">{%csrf_token%}
          <div class="panel-content text-center">
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">USERNAME</label>
                <input type="text" class="form-control" placeholder="Username" id="id_username" name="username" {% if request.POST %} value="{{request.POST.username}}" {% endif %}>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">MODULE</label>
                <select class="form-control" id="id_module" name="module" >
                  <option value="">--Module--</option>
                  <option value="activity">Activity</option>
                  <option value="contact">Contact</option>
                  <option value="organization">Organization</option>
                  <option value="comment">Comment</option>
                </select>
              </div>
            </div>
            <div class="filter_col col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">ACTION TYPE</label>
                <select class="form-control" id="id_action_type" name="action_type" >
                  <option value="">--Types of Actions--</option>
                  <option value="add">Add</option>
                  <option value="edit">Edit</option>
                  <option value="delete">Delete</option>
                </select>
              </div>
            </div>
            <div style = "clear:both" class="filter_col text-center">
              <br>
              <h6>Schedule Information</h6>
            </div>
            <div style = "clear:both" class="filter_col col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">START DATE</label>
                <div class="input-group date" id="datetimepicker1">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD HH:MM (24-hour) or Press the calendar button on the right." name="startdate" value="{{request.POST.startdate}}" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span></div>
              </div>
            </div>

            <div class="filter_col col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">END DATE</label>
                <div class="input-group date" id="datetimepicker2">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD HH:MM (24-hour) or Press the calendar button on the right." name="enddate" value="{{request.POST.enddate}}">
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span></div>
              </div>
            </div>

            <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false,//Important! See issue #1075
            format: 'YYYY-MM-DD HH:mm'
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>

            <div style = "clear:both" class="filter_col text-center">
              <div class="form-group">
                <br>
                <button class="btn btn-primary" type="submit">Search</button>
                <a href="{% url 'common:newsfeed' %}" class="btn btn-default">Clear</a>
              </div>
            </div>
          </div>
        </form>
        <br clear="all">
      </div>
    </div>
  </div>
  <div class="table_container_row row marl">
    <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading-list text-center">
            NEWS FEED
            <span class="pull-right total_count">{% if show_pageitems %} {% show_pageitems %}{% else %}Total News {{newsfeed|length}}{% endif %}</span>
          </div>
          <div class="panel-content">
            <table class="table table-bordered table-striped table-condensed">
              <tbody>
                {% if per_page %}
                  {% paginate per_page newsfeed %}
                {% else%}
                  {% paginate 20 newsfeed %}
                {% endif %}
                {% for news in newsfeed %}
                <tr style="text-align:left;">
                  <td>
                    {% if news.activity %}

                      {% if news.type == "add" %}

                        {% if user == news.activity.created_by %}
                          A new <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> has been created by you.
                        {% else %}
                          {% if user in news.activity.assigned_to.all %}

                            {% if news.activity.assigned_to.all|length == 1 %}
                              You were assigned to a new <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> by {{news.actor}}.
                            {% else %}
                              You and {{news.activity.assigned_to.all|length|add:-1}} others are assigned to a new <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> by {{news.actor}}.
                            {% endif %}

                          {% else %}
                            New <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> has been created by {{news.actor}}.
                          {%endif%}

                        {% endif %}

                      {% elif news.type == "edit" %}
                        {% if user == news.actor %}
                          You modified an <a href="{% url 'activity:view_activity' news.activity.id %}">activity.</a>
                        {% else %}
                          An <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> was modified by {{news.actor}}.
                        {% endif %}

                      {% elif news.type == "delete" %}
                        {% if user == news.actor %}
                          You deleted an <a href="{% url 'activity:view_activity' news.activity.id %}">activity.</a>
                        {% else %}
                          An <a href="{% url 'activity:view_activity' news.activity.id %}">activity</a> was deleted by {{news.actor}}.
                        {% endif %}
                      {% endif %}

                    {% elif news.contact %}
                      {% if news.type == "add" %}
                        {% if user == news.contact.created_by %}
                          A new <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a> has been created by you.
                        {% else %}
                          {% if user in news.contact.assigned_to.all %}

                            {% if news.contact.assigned_to.all|length == 1 %}
                              You were assigned to a new <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a> by {{news.actor}}.
                            {% else %}
                              You and {{news.contact.assigned_to.all|length|add:-1}} others are assigned to a new <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a> by {{news.actor}}.
                            {% endif %}

                          {% else %}
                            New <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a> has been created by {{news.actor}}.
                          {%endif%}

                        {% endif %}
                      {% elif news.type == "edit" %}
                        {% if user == news.actor %}
                          You modified a <a href="{% url 'contacts:view_contact' news.contact.id %}">contact.</a>
                        {% else %}
                          A <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a> was modified by {{news.actor}}.
                        {% endif %}

                      {% elif news.type == "delete" %}
                        {% if user == news.actor %}
                          You deleted a <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a>
                        {% else %}
                          A <a href="{% url 'contacts:view_contact' news.contact.id %}">contact</a>  was deleted by {{news.actor}}.
                        {% endif %}
                      {%endif%}

                    {% elif news.organization %}
                      {% if news.type == "add" %}
                        {% if user == news.organization.created_by %}
                          A new <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> has been created by you.
                        {% else %}
                          {% if user in news.organization.assigned_to.all %}

                            {% if news.contact.assigned_to.all|length == 1 %}
                              You were assigned to a new <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> by {{news.actor}}.
                            {% else %}
                              You and {{news.organization.assigned_to.all|length|add:-1}} others are assigned to a new <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> by {{news.actor}}.
                            {% endif %}

                          {% else %}
                            New <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> has been created by {{news.actor}}.
                          {%endif%}

                        {% endif %}

                      {% elif news.type == "edit" %}
                        {% if user == news.actor %}
                          You modified an <a href="{% url 'organizations:view_organization' news.organization.id %}">organization.</a>
                        {% else %}
                          An <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> was modified by {{news.actor}}.
                        {% endif %}

                      {% elif news.type == "delete" %}
                        {% if user == news.actor %}
                          You deleted an <a href="{% url 'organizations:view_organization' news.organization.id %}">organization.</a>
                        {% else %}
                          An <a href="{% url 'organizations:view_organization' news.organization.id %}">organization</a> was deleted by {{news.actor}}.
                        {% endif %}
                      {%endif%}

                    {% elif news.comment %}
                      {% if news.comment.activity %}
                        {% if user == news.actor %}
                          You commented on an <a href="{% url 'activity:view_activity' news.comment.activity.id %}">activity</a>.
                        {% else %}
                          {{news.actor}} commented on an <a href="{% url 'activity:view_activity' news.comment.activity.id %}">activity</a>.
                        {% endif %}

                      {% elif news.comment.contact %}
                        {% if user == news.actor %}
                          You commented on a <a href="{% url 'contacts:view_contact' news.comment.contact.id %}">contact</a>.
                        {% else %}
                          {{news.actor}} commented on a <a href="{% url 'contacts:view_contact' news.comment.contact.id %}">contact</a>.
                        {% endif %}

                      {% elif news.comment.organization %}
                        {% if user == news.actor %}
                          You commented on an <a href="{% url 'organizations:view_organization' news.comment.organization.id %}">organization</a>.
                        {% else %}
                          {{news.actor}} commented on an <a href="{% url 'organizations:view_organization' news.comment.organization.id %}">organization</a>.
                        {% endif %}

                      {%endif%}
                    {%endif%}
                  </td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
            {%ifequal newsfeed|length 0 %}
              <h4 class="text-center">No News</h4>
            {%endifequal%}
            <div class="marl row text-center">
              {% show_pages %}
            </div>
          </div>
        </div>
      <br clear="all">
    </div>
  </div>
</div>

{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.delete').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#contacts_filter').attr("action", $(this).attr("href"));
    $('#contacts_filter').submit();
  });
</script>
{% endblock js_block %}
