<table class="table">
   <thead>
      <tr>
         <th width="50%">
            <a href='#'>
            Name
            </a>
            <span class="caret"></span>
         </th>
         <th>
            <a href="#">
            Email
            </a>
         </th>
      </tr>
   </thead>
   <tbody>
      {% ifequal organizations|length  0 %}
      <tr>
         <td class="cell">
            NO Organizations FOUND!!
         </td>
      </tr>
      {% endifequal %}
      {% for org in organizations %}
      <tr>
         <td class="cell">
            <a class="cell parentname" id="{{ organizations.id }}">
            {{ organizations.Name }}
            </a>
         </td>
         <td class="cell parentemail">
            {{ organizations.email }}
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
